@model TpWeb1.Models.CreateEditWarriorVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Warrior</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Warrior.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warrior.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warrior.NomPropre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warrior.NomPropre)
        </dd>

</div>
    </dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Warrior.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
