<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Websport</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WebSport", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Races", "Index", "Races")</li>
                    <li>@Html.ActionLink("Organizers", "Index", "Organizers")</li>
                    <li>@Html.ActionLink("Competitors", "Index", "Competitors")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="pull-right user-img"><img src="@Url.Action("UserImage","Home")" /></li>
                    <li class="pull-right">@Html.ActionLink("Delete all datas", "RemoveAllDatas", "Home", new { @class = "danger-action delete-datas" })</li>
                    <li class="pull-right">@Html.ActionLink("Générer Fake Datas", "GenerateFakes", "Home", new { @class = "warning-action fake-datas" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TP Websport</p>
        </footer>
    </div>

    <script type="text/javascript">
        var vbMess = '@ViewBag.message';
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/notifyjs")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)


</body>
</html>

