@using WebSportVersionEF.Extensions
@model WebSportVersionEF.Models.CompetitorRaceVM

@{
    var mode = Model.Competitor == null;
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2>@Html.ModeWidgetLabels(mode)</h2>

    <div class="form-horizontal">
        <h4>Competitor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Competitor.Id)

        @Html.WidgetFor(model => model.Competitor.Nom)
        @Html.WidgetFor(model => model.Competitor.Prenom)
        @Html.WidgetFor(model => model.Competitor.Email)
        @Html.WidgetFor(model => model.Competitor.DateNaissance)
        @Html.DropDownWidgetFor(model => model.Races, model => model.IdSelectedRace, Model.Races.Select(o => new SelectListItem { Value = o.Id.ToString(), Text = o.Title }))

        @Html.SubmitWidget(Html.ModeWidgetLabels(mode).ToString(), "success")

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
